@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hidden {
    height: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: ease-in-out;
  }
}